{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/index_module.css')}}" />{% endblock %}
{% block title%}GP |Lista Proyectos{% endblock %} {%block main%}

<div class="container mt-5">
    <h2>Lista de Proyectos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>JP</th>
                <th>Cliente</th>
                <th>Trabajadores</th>
                <th>Servicio</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Fecha de Fin Prevista</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto['jp'] }}</td>
                <td>{{ proyecto['cliente'] }}</td>
                <td>{{ proyecto['trabajadores'] }}</td>
                <td>{{ proyecto['servicio'] }}</td>
                <td>{{ proyecto['fecha_inicio'] }}</td>
                <td>{{ proyecto['fecha_fin'] }}</td>
                <td>{{ proyecto['fecha_fin_prevista'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}