{% extends "base.html" %} {% block css %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>{% endblock %}
 {% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %} {% block title%}GP | Elimnar Proyecto {% endblock %} {%block main%}

<datalist id="proyectos">
    {%for i in context %}
    <option value="{{i}}">{%endfor%}</option>
</datalist>

<div class="container mt-5">
    <h2>Eliminar Proyecto</h2>
    <form method="post" action=" ">
        <div class="form-group">
            <label for="proyecto">Selecciona el proyecto a eliminar:</label>
            <input id="proyecto" name="proyecto" autocomplete="off" list="proyectos" required />
        </div>
        <button type="submit" class="btn btn-danger">Eliminar Proyecto</button>
    </form>
</div>
    
{% endblock %}
    