{% extends "base.html" %} {% block css %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>{% endblock %}

 {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %} {% block title%}GP | Nuevo Proyecto{% endblock %} {%block main%}

<div class="container ">
    <h2>Nuevo Proyecto</h2>
    <form method="post" action="">
        <div class="form-group">
            <label for="jp">JP:</label>
            <input type="text" class="form-control" id="jp" name="jp" required>
        </div>
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <input type="text" class="form-control" id="cliente" name="cliente" >
        </div>
        <div class="form-group">
            <label for="trabajadores">Trabajadores:</label>
            <input type="text" class="form-control" id="trabajadores" name="trabajadores" >
        </div>
        <div class="form-group">
            <label for="servicio">Servicio:</label>
            <input type="text" class="form-control" id="servicio" name="servicio" >
        </div>
        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
        <div class="form-group">
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
        <div class="form-group">
            <label for="fecha_fin_prevista">Fecha de Fin Prevista:</label>
            <input type="date" class="form-control" id="fecha_fin_prevista" name="fecha_fin_prevista">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Proyecto</button>
        <button type="button" onclick="location.href='/proyecto'" class="btn btn-danger">Volver</button>

    </form>
</div>
    
{% endblock %}
    



    
