main{
    margin-left: 30px;
    
}
.titulo {
    color: #1678d4;
}

.cabecera_riesgos {
    display: inline-block;
    width: fit-content;
}


.boton_nuevo_riesgo {
    display: flex;
    justify-content: space-between;
}

.section {
    border: #eaeaea solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    width: 900px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.label-input {
    margin-bottom: 10px;
}
.filtro{
    background-color: white;
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#cabecera_tabla_riesgos{
    width: 1700px;
    border: #eaeaea solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#tabla_riesgos{
    border-radius: 10px;
}
#tabla_acciones{
    border-radius: 10px;
}
#code_buscar{
    width: 300px;
    text-transform: uppercase;
}
.texto-aclaracion {
    font-size: 12px;
    color: #57647e;
}

.required-input {
    color: brown;
    display: inline;
}

.section-table {
    border: #eaeaea solid 2px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    margin-bottom: 10px;
    width: min-content;
    overflow: scroll;
    width: 3000px;
    height: 700px;
}

table {
    border-top: #eaeaea solid 2px;
    border-left: #eaeaea solid 2px;
    background-color: white;
    width: 100%;
    table-layout: auto;
}
tr{
    width: 100%;
}
th {
    border-bottom: #eaeaea solid 2px;
    border-right: #eaeaea solid 2px;
    height: auto;
    width: 450px;
    padding: 10px;
    max-width: 345px !important;
    min-width: 200px !important;
}

input {
    outline: none;
    font-size: 16px;
    border: none;
    overflow-x: hidden;
    text-align: center;
    height: 100%;
}
.grupo-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* ID PROYECTO */
#id_proyecto{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: large;
}

#presupuesto_proyecto{
    width: 250px;
}

.label-input-categorias{
    margin-left: 10px;
}
td {
    border-bottom: #eaeaea solid 1px;
    border-right: #eaeaea solid 1px;
    min-width: 250px;
    max-height: 150px;
    height: 100px;
}

td > input{
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}
textarea{
    max-width: 100%;
    max-height: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
td > textarea {
    max-width: 100%;
    width: 85%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
td > button{
    width: 100%;
    height: 100%;
}
.ocultar-fila {
    display: none;
}

#columna_id_meta {
    display: none;
}

.oculto {
    display: none;
}

select{
    border-radius: 5px;
    width: 25px;
}

a {
    text-decoration: none;
}

.botones_riesgos{
    width: 100%;
    height: 100%;
    font-size: medium;
}

.nivel_respuesta{
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.nivel{
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}

.nivel_riesgo{
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
}

#texto-borrar{
    display: none;
}

#ie_total{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: large;
}




/* PANTALLA MODAL DEL FORMULARIO DE NUEVO RIESGO +  ACCION */

.modal {
    display: block;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition : 0.5s;
}

.modal-content1 {
    width: 90%;
}

span {
    color: #666;
    display: block;
    padding: 0 0 5px;
}

.fomulario-modal1 {
    padding: 25px;
    margin-top: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: white;
    border: #eaeaea solid 1px;
    border-radius: 10px;
    position: absolute;
}

.input-formulario {
    width: 330px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: #eaeaea solid 1px;
    border-radius: 10px;
    color: #57647e;
    padding-left: 5px;
    text-align: center;
}
.contact-form1 {
    width: 80%;
    position: absolute;
    left: 10%;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.grupo-inputs-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.grupo-buttons-2 {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    
}

.section-cabecera1{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20;
}

.section-1{
    border: #eaeaea solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
}
.section-botones{
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.cabecera{
    display: flex;
    justify-content: space-between;
}
.texto-aclaracion {
    font-size: 12px;
    color: #57647e;
}

.required-input {
    color: brown;
}
.grupo-buttons{
    display:flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;
}
select{
    display: block;
    width: 300px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* parte del formulario --> botones de ayuda */
.emoji_container {
    position: absolute;
    display: inline-block;
    height: 50px;
    margin-top: 20px;
}

.ayuda_probabilidad {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.ayuda_probabilidad:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
}

.emoji_container:hover .ayuda_probabilidad {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.ayuda_impacto {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.ayuda_impacto:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
}
.emoji_container:hover .ayuda_impacto {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.nivel_respuesta{
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;

}

.nivel_riesgo{
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.botones-nuevo-riesgo{
    border: #1678d4 solid 2px;
    background: #1678d4;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    justify-content: center;
    font-size: 18px;
}

/* PANTALLA MODAL DEL FORMULARIO DE NUEVA ACCION */

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition : 0.5s;
}

.modal-content {
    margin: 50px auto;
    width: 60%;
    padding-top: 100px;

}

span {
    color: #666;
    display: block;
    padding: 0 0 5px;
}

.fomulario-modal {
    padding: 25px;
    margin-top: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: white;
    border: #eaeaea solid 1px;
    border-radius: 10px;
    position: absolute; 
}

.input-formulario {
    width: 300px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
    border: #eaeaea solid 1px;
    border-radius: 10px;
    color: #57647e;
    padding-left: 5px;
    text-align: center;
}
.contact-form{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 0%;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.close {
    background: #1678d4;
    padding: 0 0 3px 0;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
    justify-content: center;
    color: white;
    height: 45px;
    border: #1678d4 solid 2px;
}

.close:hover,
.close:focus {
    opacity: 70%;
    color: #eaeaea;
    cursor: pointer;
}

button.button {
    background: #1678d4;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
}

.grupo-inputs-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.grupo-buttons-2 {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.section-cabecera{
    padding-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.edit_riesgo{
    color: black;
    background-color: #F3DA07;
    border: #F3DA07 solid 2px;
    font-weight: bolder;
    font-size: 20px;
}

.delete_riesgo{
    color: black;
    background-color: #F32E07;
    border: #F32E07 solid 2px;
    font-weight: bolder;
    font-size: 20px;
}

.edit_accion {
    color: black;
    background-color: #F3DA07;
    border: #F3DA07 solid 2px;
    font-weight: bolder;
    font-size: 20px;
}

.delete_accion{
    color: black;
    background-color: #F32E07;
    border: #F32E07 solid 2px;
    font-weight: bolder;
    font-size: 20px;
}

.edit_riesgo:hover{
    opacity: 70%;
  color: grey;
  cursor: pointer;
}

.delete_riesgo:hover{
    opacity: 70%;
  color: grey;
  cursor: pointer;
}

.edit_accion:hover{
    opacity: 70%;
  color: grey;
  cursor: pointer;
}

.delete_accion:hover{
    opacity: 70%;
  color: grey;
  cursor: pointer;
}


