{% extends "base.html" %} {% block css %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>{% endblock %}

 {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %} {% block title%}GP | Crear JP{% endblock %} {%block main%}

<div class="container">
    <h2>Crear Jefe de Proyecto</h2>
    <form method="post" action="">
        <div class="form-group">
            <label for="id_jp">Código JP:</label>
            <input type="text" class="form-control" id="id_jp" name="id_jp" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Jefe de Proyecto</button>
        <button type="button" onclick="location.href='/jps'" class="btn btn-danger">Volver</button>
    </form>
</div>
    
{% endblock %}
    



    
