
{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/index_module.css')}}" />{% endblock %}
{% block title%}GP | JPS Menú{% endblock %} {%block main%}

      <div class="menu">
        <h1 class="titulo">Menú Gestión JP</h1>
        <br>
        <div class="tools">
          <a href="jps/create">Crear Nuevo JP</a>
          <a href="jps/view">Ver JP</a>
          <a href="jps/delete">Eliminar JP</a>
        </div>
    </div>
    
    {% endblock %}
