<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Eliminar JP</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Eliminar JP</h2>
        <form method="post" action=" ">
            <div class="form-group">
                <label for="proyecto">Selecciona el JP a eliminar:</label>
                <select class="form-control" id="proyecto" name="proyecto" required>
                    
                        <option value=""></option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Eliminar JP</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>