{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/index_module.css')}}" />{% endblock %}
{% block title%}GP | Proyectos Menú{% endblock %} {%block main%}

      <div class="menu">
        <h1 class="titulo">Menú Gestión Proyectos</h1>
        <br>
        <div class="tools">
          <a href="proyecto/create">Crear Nuevo Proyecto</a>
          <a href="proyecto/view">Ver Proyecto</a>
          <a href="proyecto/delete">Eliminar Proyecto</a>
        </div>
    </div>
    
    {% endblock %}
