{% extends "base.html" %} {% block css %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>{% endblock %}

 {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %} {% block title%}GP | Editar Proyecto Creado{% endblock %} {%block main%}


<div class="container mt-5">
    <h2>Editar Proyecto</h2>
    <p>El proyecto ha sido editado con éxito.</p>
    <a href="/" class="btn btn-primary">Volver</a>
</div>
    
{% endblock %}
    